* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-image: linear-gradient(to bottom, #f15b5b, #ebb236, #38d445);
}

.content {
    width: 100vw;
    height: 100vh;
}

.buttonLeft, 
.buttonRight {
    z-index: 1;
    position: absolute;
    background-color: transparent;
    color: gray;
    float: left;
    margin-top: 45vh;
    height: 10vh;
    width: 20vw;
    font-size: 15vh;
    text-align: center;
    cursor:pointer;
    transition: color 1s, font-size 1s;
}

.buttonRight {
    right: 0;
}

.image {
    display: block;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.click {
    position: relative;
    bottom: 5vh;
}

li {
    margin: 0vh 2vw 0vh 2vw;
    border: 1vh solid gray;
    font-size: 1vh;
    border-radius: 10px;
    display: inline;
    position: relative;
    background-color: gray;
    transition: border-color 1s, background-color 1s, border-width 1s;
}

ul {
    text-align: center;
}

li:hover {
    border-width: 1.5vh; 
    border-color: white;
    background-color: white;
}

.buttonLeft:hover, 
.buttonRight:hover {
    color: white;
    font-size: 20vh;
}
