* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
background-color: lime;
}

.content {
    width: 100vw;
    height: 95vh;
}



.buttonLeft, 
.buttonRight {
    position: absolute;
    background-color: transparent;
    color: white;
    float: left;
    margin: 10px;
    height: inherit;
    width: 20%;
    font-size: 15vh;
    text-align: center;
    padding-top: 40vh;
    cursor:pointer;
}

.buttonRight {
    right: 0;
}

.image {
    display: block;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.click {
    position: relative;
    bottom: 5vh;
}

li {
    margin: 0vh 2vw 0vh 2vw;
    border: 1vh solid gray;
    font-size: 1vh;
    border-radius: 10px;
    display: inline;
    position: relative;
}

ul {
    text-align: center;
}
