body {
background-color: lime;
}

.content {
    width: 100%;
    height: max-content;
}



.buttonLeft {
    background-color: red;
    margin: 10px;
    min-height: 580px;
    width: 20%;
}

.buttonRight {
    background-color: red;
    margin: 10px;
    min-height: 580px;
    width: 20%;
}

.image {
    display: block;
    width: 50%;
}
